*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}
body{	
	text-align: center;	
	margin: 50px 0;
}
h1{
	margin-bottom: 35px;
}
.links{
	width: 100%;
	display: inline-block;
}
.links li{
	display: inline-block;
	margin: 5px 2px;
}
.links a{
	font-size: 14px;
	text-decoration: none !important;
	color: #000000;
	background: white;
	padding: 10px 20px;
	box-shadow: 3px 3px 14px -4px #d7d7d7;
	display: block;
}
.links a:active{
	transform: translate(0px,2px);
	box-shadow: 0 0 14px -4px #d7d7d7;
}
.links a.active{
	color: white;
	background: #49934c;
}
.quoteList{
	margin: 35px 0;
	position: relative;
}
.quoteItem{
	width: 900px;
	max-width: 95%;
	background: #f8f8f8;
	margin: 0 auto 10px;
	padding: 20px;
	position: relative;
}
p.quote{
	font-size: 16px;
	margin-bottom: 15px;
}
p.author{
	font-size: 14px;
	font-weight: bold;
}
.btnGroup{

}
button.getQuote{
	background: #49934c;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	outline: 0;
	border: 0;
	color: white;
}
button.getQuote.cancel{
	background: white;
	color: black;
    border: 1px solid #ddd;
    padding: 9px 20px;
}
#imgLoader{
	width: 50px;
	margin: -15px 0 0 0;
}
.d-none{
	display: none !important; 
}
.saveToLocal{
	position: absolute;
	right: 0;
	bottom: -35px;
	border: 1px solid #767676;
	padding: 6px 10px;
	font-size: 13px;
	color: black;
	text-decoration: none !important;
	border-radius: 3px;
}
.saveToLocal img{	
	height: 15px;	
	vertical-align: middle;	
	margin: 0 5px 0 0;
}
.saveToLocal.saved{
	opacity: 0.5;
}
.quoteForm{
	width: 640px;
	max-width: 95%;
	margin: 20px auto 0;
}
.quoteForm textarea,
.quoteForm input{
	width: 100%;
	padding: 15px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	outline: 0;
	font-size: 14px;
}
.quoteForm textarea{
	min-height: 150px;
}
.quoteForm button{
	width: 100%;
	margin-bottom: 10px;
}
.status{
	font-size: 14px;
	text-align: left;
	margin: 0 0 10px;
}
.error{
	color: #F44336;
}
.success{	
	color: #4CAF50;
}
.action{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.action button{	
	border: 0;	
	cursor: pointer;	
	margin: 0 4px;	
	padding: 0;	
	background: transparent;
	outline: 0;
}
.action button img{
	width: 17px;
}
.updatebtn{
	text-align: left;
}
.updatebtn button{
	width: auto !important;
}
@media screen and (max-width:576px){
	.saveToLocal{
		right: 50%;
	    transform: translate(50%,0);
	    bottom: -41px;
	}
	.quoteList{
		margin: 5px 0 50px;
	}
}